<div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list">
      <li>
        <a routerLink="/category/1" routerLinkActive="active-link">Drinks</a>
      </li>
      <li>
        <a routerLink="/category/2" routerLinkActive="active-link">Food</a>
      </li>
      <li>
        <a routerLink="/category/3" routerLinkActive="active-link">Fruits</a>
      </li>
      <li>
        <a routerLink="/category/4" routerLinkActive="active-link">Vegetables</a>
      </li>
      <li>
        <a routerLink="/category/5" routerLinkActive="active-link">Meat</a>
      </li>
      <li>
        <a routerLink="/category/6" routerLinkActive="active-link">Frozen</a>
      </li>
      <li>
        <a routerLink="/category/7" routerLinkActive="active-link">Miscellaneous</a>
      </li>

    </ul>
  </nav>
</div>
